## 2023 데이터베이스 ISQL 과제

### 코드에 대한 설명은 코드 상단에, 질문은 코드 하단에 주석으로 기입

최종으로 확인할 것
* NOT NULL 설정
* UNIQUE 설정

### SCHEMA 생성

In [ ]:
-- create database
CREATE DATABASE suppliers_parts_projects;

In [ ]:
-- STATUS는 NULL값을 가질 수 있다: 나머지 attr은 NOT NULL
-- mysql #불가 --> NO로 대체함(SNO)
CREATE TABLE Supplier (
    SNO     VARCHAR(10)     NOT NULL,
    SNAME   VARCHAR(20)     NOT NULL,
    STATUS  INT,
    CITY    VARCHAR(20)     NOT NULL,
    PRIMARY KEY(SNO)
);

-- primary key에 unique 사용할 필요는 없지?

In [ ]:
CREATE TABLE Part (
    PNO     VARCHAR(10)     NOT NULL,
    PNAME   VARCHAR(20),
    COLOR   VARCHAR(20),
    WEIGHT  INT,
    CITY    VARCHAR(20),
    PRIMARY KEY(PNO)
);

-- NULL 값 세팅은 어떻게 할까

In [ ]:
CREATE TABLE Project (
    JNO     VARCHAR(10)     NOT NULL,
    JNAME   VARCHAR(20),
    CITY    VARCHAR(20),
    PRIMARY KEY(JNO)
);

-- NULL 값 세팅은 어떻게 할까

In [ ]:
CREATE TABLE SPJ (
    Snumber     VARCHAR(10)     NOT NULL,
    Pnumber     VARCHAR(10)     NOT NULL,
    Jnumber     VARCHAR(10)     NOT NULL,
    QTY         INT,
    PRIMARY KEY(Snumber, Pnumber, Jnumber),
    FOREIGN KEY(Snumber) REFERENCES Supplier(SNO)   ON UPDATE CASCADE,
    FOREIGN KEY(Pnumber) REFERENCES Part(PNO)       ON UPDATE CASCADE,
    FOREIGN KEY(Jnumber) REFERENCES Project(JNO)    ON UPDATE CASCADE
);

-- 이름 설정
-- ON UPDATE CASCADE?

헐 CONSTRAINT
ON DELETE, ON UPDATE 설정

### TABLE에 VALUE 삽입

In [ ]:
INSERT INTO Supplier
VALUES
    ('S1', 'Smith', 20, 'London'),
    ('S2', 'Jones', 10, 'Paris' ),
    ('S3', 'Blake', 30, 'Paris' ),
    ('S4', 'Clark', 20, 'London'),
    ('S5', 'Adams', 30, 'Athens');

In [ ]:
INSERT INTO Part
VALUES
    ('P1', 'Nut',   'Red',      12, 'London'),
    ('P2', 'Bolt',  'Green',    17, 'Paris' ),
    ('P3', 'Screw', 'Blue',     17, 'Rome'  ),
    ('P4', 'Screw', 'Red',      14, 'London'),
    ('P5', 'Cam',   'Blue',     12, 'Paris' ),
    ('P6', 'Cog',   'Red',      19, 'London');

In [ ]:
INSERT INTO Project
VALUES
    ('J1', 'Sorter',    'Paris' ),
    ('J2', 'Punch',     'Rome'  ),
    ('J3', 'Reader',    'Athens'),
    ('J4', 'Console',   'Athens'),
    ('J5', 'Collator',  'London'),
    ('J6', 'Terminal',  'Oslo'  ),
    ('J7', 'Tape',      'London');

In [ ]:
INSERT INTO SPJ
VALUES
    ('S1', 'P1', 'J1', 200),
    ('S1', 'P1', 'J4', 700),
    ('S2', 'P3', 'J1', 400),
    ('S2', 'P3', 'J2', 200),
    ('S2', 'P3', 'J3', 200),
    ('S2', 'P3', 'J4', 500),
    ('S2', 'P3', 'J5', 600),
    ('S2', 'P3', 'J6', 400),
    ('S2', 'P3', 'J7', 800),
    ('S2', 'P5', 'J2', 100),
    ('S3', 'P3', 'J1', 200),
    ('S3', 'P4', 'J2', 500),
    ('S4', 'P6', 'J3', 300),
    ('S4', 'P6', 'J7', 300),
    ('S5', 'P2', 'J2', 200),
    ('S5', 'P2', 'J4', 100),
    ('S5', 'P5', 'J5', 500),
    ('S5', 'P5', 'J7', 100),
    ('S5', 'P6', 'J2', 200),
    ('S5', 'P1', 'J4', 100),
    ('S5', 'P3', 'J4', 200),
    ('S5', 'P4', 'J4', 800),
    ('S5', 'P5', 'J4', 400),
    ('S5', 'P6', 'J4', 500);

### 질의 그룹 #1: 4 Question

In [ ]:
-- Question 1(Ok)

SELECT Snumber
FROM SPJ
WHERE Jnumber = 'J1'

-- 중복을 어떻게? (아 중복이 안나왔네)
-- 근데 Supplier number order 은 string 인데 순서를 별도로 조작..?

In [ ]:
-- Question 2

SELECT DISTINCT Pnumber
FROM SPJ
WHERE (QTY >= 300 and QTY <= 750);

-- 무엇을 출력하라는 거지?
-- shipments가 뭘 말하는건지 몰라서 일단 중복을 제외한 Pnumber 출력함

In [ ]:
-- Question 3
-- 뭔소리지?

SELECT Pnumber
FROM Supplier, Project, SPJ
WHERE Supplier.CITY = 'London'
    AND Project.CITY = 'London'
    AND SNO = Snumber
    AND JNO = Jnumber;

In [ ]:
-- Question 4
-- 뭔소리지? first city 가 뭐임

### 질의 그룹 #2: 5 Question

In [ ]:
-- Question 1

SELECT Pnumber, Jnumber, SUM(QTY)
FROM SPJ
GROUP BY Pnumber, Jnumber;

-- 제대로 해석한게 맞나

In [ ]:
-- Question 2
-- 뭐라는겨

SELECT Pnumber, Jnumber, SUM(QTY)
FROM SPJ
GROUP BY Pnumber, Jnumber;
HAVING SUM(QTY)

In [ ]:
-- Question 3

SELECT JNO, CITY
FROM Project
WHERE CITY LIKE('_o%');

In [ ]:
-- Question 4
-- 하나만 출력하라는겨?

SELECT JNO
FROM Project
ORDER BY CITY LIMIT 1;

In [ ]:
-- Question 5
-- 해석 뒈지게 어렵네

### 질의 그룹 #3: 4 Questions

In [ ]:
-- Question 1

SELECT Pnumber
FROM Project, SPJ
WHERE EXISTS (  SELECT *
                FROM 


)

In [ ]:
-- Question 2

In [ ]:
-- Question 3

In [ ]:
-- Question 4

(SELECT CITY
FROM Supplier)
UNION
(SELECT CITY
FROM Part)
UNION
(SELECT CITY
FROM Project);

### 질의 그룹 #4: 4 Questions

In [ ]:
-- Question 1