## 2023 데이터베이스 ISQL 과제

### 코드에 대한 설명은 코드 상단에, 질문은 코드 하단에 주석으로 기입

최종으로 확인할 것
* NOT NULL 설정
* UNIQUE 설정
* 문제에서 주어진 조건을 잘 따랐나 각 쿼리마다 확인
* SPJ table의 ON UPDATE CASCSDE 설정 확인
* 각 테이블의 No 값을 CHAR로 변경?
* 쿼리는 캡쳐본?

### SCHEMA 생성

In [ ]:
-- create database

CREATE DATABASE suppliers_parts_projects;

In [ ]:
-- STATUS는 NULL값을 가질 수 있다: 나머지 attr은 NOT NULL
-- mysql #불가 --> NO로 대체함(SNO)

CREATE TABLE Supplier (
    SNO     VARCHAR(10)     NOT NULL,
    SNAME   VARCHAR(20)     NOT NULL,
    STATUS  INT,
    CITY    VARCHAR(20)     NOT NULL,
    PRIMARY KEY(SNO)
);

-- primary key에 unique 사용할 필요는 없지?

In [ ]:
CREATE TABLE Part (
    PNO     VARCHAR(10)     NOT NULL,
    PNAME   VARCHAR(20),
    COLOR   VARCHAR(20),
    WEIGHT  INT,
    CITY    VARCHAR(20),
    PRIMARY KEY(PNO)
);

-- NULL 값 세팅은 어떻게 할까

In [ ]:
CREATE TABLE Project (
    JNO     VARCHAR(10)     NOT NULL,
    JNAME   VARCHAR(20),
    CITY    VARCHAR(20),
    PRIMARY KEY(JNO)
);

-- NULL 값 세팅은 어떻게 할까

In [ ]:
CREATE TABLE SPJ (
    Snumber     VARCHAR(10)     NOT NULL,
    Pnumber     VARCHAR(10)     NOT NULL,
    Jnumber     VARCHAR(10)     NOT NULL,
    QTY         INT,
    PRIMARY KEY(Snumber, Pnumber, Jnumber),
    FOREIGN KEY(Snumber) REFERENCES Supplier(SNO)   ON UPDATE CASCADE,
    FOREIGN KEY(Pnumber) REFERENCES Part(PNO)       ON UPDATE CASCADE,
    FOREIGN KEY(Jnumber) REFERENCES Project(JNO)    ON UPDATE CASCADE
);

-- 이름 설정
-- ON UPDATE CASCADE?

헐 CONSTRAINT
ON DELETE, ON UPDATE 설정?

### TABLE에 VALUE 삽입

In [ ]:
INSERT INTO Supplier
VALUES
    ('S1', 'Smith', 20, 'London'),
    ('S2', 'Jones', 10, 'Paris' ),
    ('S3', 'Blake', 30, 'Paris' ),
    ('S4', 'Clark', 20, 'London'),
    ('S5', 'Adams', 30, 'Athens');

In [ ]:
INSERT INTO Part
VALUES
    ('P1', 'Nut',   'Red',      12, 'London'),
    ('P2', 'Bolt',  'Green',    17, 'Paris' ),
    ('P3', 'Screw', 'Blue',     17, 'Rome'  ),
    ('P4', 'Screw', 'Red',      14, 'London'),
    ('P5', 'Cam',   'Blue',     12, 'Paris' ),
    ('P6', 'Cog',   'Red',      19, 'London');

In [ ]:
INSERT INTO Project
VALUES
    ('J1', 'Sorter',    'Paris' ),
    ('J2', 'Punch',     'Rome'  ),
    ('J3', 'Reader',    'Athens'),
    ('J4', 'Console',   'Athens'),
    ('J5', 'Collator',  'London'),
    ('J6', 'Terminal',  'Oslo'  ),
    ('J7', 'Tape',      'London');

In [ ]:
INSERT INTO SPJ
VALUES
    ('S1', 'P1', 'J1', 200),
    ('S1', 'P1', 'J4', 700),
    ('S2', 'P3', 'J1', 400),
    ('S2', 'P3', 'J2', 200),
    ('S2', 'P3', 'J3', 200),
    ('S2', 'P3', 'J4', 500),
    ('S2', 'P3', 'J5', 600),
    ('S2', 'P3', 'J6', 400),
    ('S2', 'P3', 'J7', 800),
    ('S2', 'P5', 'J2', 100),
    ('S3', 'P3', 'J1', 200),
    ('S3', 'P4', 'J2', 500),
    ('S4', 'P6', 'J3', 300),
    ('S4', 'P6', 'J7', 300),
    ('S5', 'P2', 'J2', 200),
    ('S5', 'P2', 'J4', 100),
    ('S5', 'P5', 'J5', 500),
    ('S5', 'P5', 'J7', 100),
    ('S5', 'P6', 'J2', 200),
    ('S5', 'P1', 'J4', 100),
    ('S5', 'P3', 'J4', 200),
    ('S5', 'P4', 'J4', 800),
    ('S5', 'P5', 'J4', 400),
    ('S5', 'P6', 'J4', 500);

### 질의 그룹 #1: 4 Question

In [ ]:
-- Question 1(Ok)

SELECT Snumber
FROM SPJ
WHERE Jnumber = 'J1'
ORDER BY Snumber;

-- 중복을 어떻게? (아 중복이 안나왔네)
-- 근데 Supplier number order 은 string 인데 순서를 별도로 조작..? 아 ORDER BY

In [ ]:
-- Question 2
-- 질문

SELECT DISTINCT Pnumber
FROM SPJ
WHERE (QTY >= 300 and QTY <= 750);

-- 무엇을 출력하라는 거지?
-- shipments가 뭘 말하는건지 몰라서 일단 중복을 제외한 Pnumber 출력함

In [ ]:
-- Question 3
-- 뭔소리지?

SELECT Pnumber
FROM Supplier, Project, SPJ
WHERE Supplier.CITY = 'London'
    AND Project.CITY = 'London'
    AND SNO = Snumber
    AND JNO = Jnumber;

In [ ]:
-- Question 4
-- 뭔소리지? first city 가 뭐임

SELECT DISTINCT S.CITY, J.CITY
FROM Supplier S, Project J, SPJ
WHERE SNO = Snumber
AND JNO = Jnumber;

### 질의 그룹 #2: 5 Question

In [ ]:
-- Question 1

SELECT Pnumber, Jnumber, SUM(QTY)
FROM SPJ
GROUP BY Pnumber, Jnumber;

-- 제대로 해석한게 맞나

In [ ]:
-- Question 2
-- 뭐라는겨

SELECT Pnumber
FROM SPJ
GROUP BY Pnumber
HAVING AVG(QTY) >= 320;

In [ ]:
-- Question 3

SELECT JNO, CITY
FROM Project
WHERE CITY LIKE('_o%');

In [ ]:
-- Question 4
-- 하나만 출력하라는겨?

-- SELECT JNO, CITY
-- FROM Project
-- ORDER BY CITY;

SELECT JNO
FROM Project
WHERE CITY = (
    SELECT CITY
    FROM Project
    ORDER BY CITY LIMIT 1
);

In [ ]:
-- Question 5
-- 해석 뒈지게 어렵네
-- 이너쿼리의 값이 400이 나옴 아우터가 J4가 400 -> empty set

SELECT Jnumber
FROM SPJ
WHERE Pnumber = 'P1'
GROUP BY Jnumber
HAVING AVG(QTY) > (
    SELECT MAX(QTY)
    FROM SPJ
    WHERE Jnumber = 'J1'
);

SELECT Jnumber, AVG(QTY)
FROM SPJ
WHERE Pnumber = 'P1'
GROUP BY Jnumber;

### 질의 그룹 #3: 4 Questions

In [ ]:
-- Question 1
-- 어렵다

SELECT DISTINCT Pnumber
FROM SPJ
WHERE EXISTS (  
    SELECT 1
    FROM Project
    WHERE CITY = 'London'
    AND JNO = SPJ.Jnumber
);

In [ ]:
-- Question 2
-- 으아악

SELECT Jnumber
FROM SPJ SPJ_X
WHERE NOT EXISTS (
    SELECT 1
    FROM SPJ SPJ_Y
    WHERE EXISTS (
        SELECT 1
        FROM Supplier, SPJ SPJ_Z
        WHERE CITY = 'London'
        AND SNO = SPJ_X.Snumber
        AND SPJ_X.Jnumber = SPJ_Z.Jnumber
    )
);

SELECT Jnumber
FROM SPJ SPJ_X
WHERE SPJ_X.Pnumber NOT IN (
    SELECT Pnumber
    FROM SPJ
    WHERE EXISTS (
        SELECT 1
        FROM Supplier
        WHERE CITY = 'London'
        AND SNO = Snumber
    )
);

-- P1, P6으로 제공된 J
SELECT Jnumber
FROM SPJ
WHERE SPJ.Jnumber IN (
    SELECT *
    FROM SPJ SPJ_Y
    WHERE EXISTS (
    SELECT 1
        FROM Supplier
        WHERE CITY = 'London'
        AND SNO = SPJ_Y.Snumber
    )
);

SELECT DISTINCT Jnumber
FROM SPJ
WHERE Pnumber IN (
    SELECT DISTINCT Pnumber
    FROM SPJ
    WHERE EXISTS (
        SELECT 1
        FROM Supplier
        WHERE CITY = 'London'
        AND SNO = Snumber
    )
);

SELECT DISTINCT Jnumber
FROM SPJ
WHERE Pnumber IN (
    SELECT DISTINCT Pnumber
    FROM SPJ
    WHERE EXISTS (
        SELECT 1
        FROM Supplier
        WHERE CITY = 'London'
        AND SNO = Snumber
    )
);

-- 일단 완성본 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

SELECT DISTINCT Jnumber
FROM SPJ
WHERE Jnumber NOT IN (
    SELECT DISTINCT Jnumber
    FROM SPJ
    WHERE Pnumber IN (
        SELECT DISTINCT Pnumber
        FROM SPJ
        WHERE EXISTS (
            SELECT 1
            FROM Supplier
            WHERE CITY = 'London'
            AND SNO = Snumber
        )
    )
);
-----------------------------------------


-- London supplier가 생산한 Part을 구하는 과정(p1, p6)
SELECT Pnumber
FROM SPJ
WHERE EXISTS (
    SELECT 1
    FROM Supplier
    WHERE CITY = 'London'
    AND SNO = Snumber
);
-------------------------------------------------------

SELECT DISTINCT Jnumber
FROM SPJ SPJ_X
WHERE EXISTS (
    SELECT 1
    FROM SPJ SPJ_Y, Supplier
    WHERE CITY = 'London'
    AND SNO = SPJ_Y.Snumber
    AND NOT EXISTS (
        SELECT 1
        FROM SPJ SPJ_Z
        WHERE SPJ_Z.Jnumber = SPJ_X.Jnumber
        AND SPJ_Z.Pnumber = SPJ_Y.Pnumber
    )
);

In [ ]:
-- Question 3

SELECT DISTINCT Jnumber
FROM SPJ SPJ_X
WHERE NOT EXISTS (
    SELECT 1
    FROM SPJ SPJ_Y
    WHERE Snumber = 'S1'
    AND NOT EXISTS (
        SELECT 1
        FROM SPJ SPJ_Z
        WHERE SPJ_Z.Jnumber = SPJ_X.Jnumber
        AND SPJ_Z.Pnumber = SPJ_Y.Pnumber
    )
);

In [ ]:
-- Question 4

(SELECT CITY
FROM Supplier)
UNION
(SELECT CITY
FROM Part)
UNION
(SELECT CITY
FROM Project)
ORDER BY CITY;

### 질의 그룹 #4: 4 Questions

In [ ]:
-- Question 1
-- 1. 할당받은 Part가 있는 Project를 이너쿼리로 추출(우선 Project 별로 할당받은 부붐의 총 수를 구함)
-- 2. 

DELETE
FROM Project
WHERE JNO NOT IN (
    SELECT Jnumber
    FROM SPJ
    GROUP BY Jnumber
    HAVING SUM(QTY) > 0
);

-- 테이블을 어디 선택해야 하지?(아마 Project)
-- spj의 fk에 on update cascade 적용이 되어있는지 확인

In [ ]:
-- Question 2

INSERT INTO Supplier
    VALUES ('S10', 'Smith', Null, 'New York');

DELETE
FROM Supplier
WHERE SNO = 'S10';

In [ ]:
-- Question 3
--!!!!!!!!!!!!!!!! 다시 !!!!!!!!!!!!!!!!!!!!!!

SELECT DISTINCT Pnumber
FROM Supplier S, Project J, SPJ
WHERE (S.CITY = 'London'
OR J.CITY = 'London')
AND SNO = Snumber
AND JNO = Jnumber;

CREATE TABLE

In [ ]:
-- Question 4
--!!!!!!!!!!!!!!!! 다시 !!!!!!!!!!!!!!!!!!!!!!

SELECT DISTINCT JNO
FROM Supplier S, Project J, SPJ
WHERE (J.CITY = 'London'
OR S.CITY = 'London')
AND SNO = Snumber
AND JNO = Jnumber;

### 질의 그룹 #5: 3 Questions

In [ ]:
-- Question 1
-- 새로운 테이블을 하나 만들라는 소리인가 아니면 이 테이블을 말하는건가

CREATE TABLE Dependent (   
    NAME        VARCHAR(30)     NOT NULL,
    SEX         CHAR(1) CHECK(SEX IN ('M', 'F')),
    RELATION    VARCHAR(20),
    Snumber     VARCHAR(10)     NOT NULL,
    PRIMARY KEY(NAME, Snumber),
    FOREIGN KEY(Snumber) REFERENCES Supplier(SNO)
);

-- 근데 fk로만으로도 식별이 가능한데 왜 본인꺼에서 하나를 더 하는거지?
-- 아니 근데 강의자료(5주차 2차시)에서 dependent의 pk(essn, dependent_name)인데 만약 한 가족에 이름이 동일한 상황이면 이 경우 pk가 안되는거 아닌가? 이 경우 essn과 dependent_name이 같게 되는데?

In [ ]:
-- Question 2
-- Cluster?

-- CREATE UNIQUE INDEX XS ON Supplier(SNO);

-- SHOW INDEX FROM <테이블 이름>
-- ALTER TABLE 테이블이름 DROP INDEX 인덱스이름;

In [ ]:
-- Question 3
-- 아 설마 교수님이 말씀하신 가정이라는게 이거 말하는건가
-- DB를 만들어? 그냥 하면 될듯 아니면 깃허브 블로그에 있는거 가져오기
-- DB 생성 -> Table 생성 -> value 삽입

-- 물품을 공급해주는 회사


-- 데이터베이스 생성
CREATE DATABASE company;


-- 테이블 생성
CREATE TABLE Employee (
    EID     INT         NOT NULL,
    ENAME   VARCHAR(30) NOT NULL,
    SEX     CHAR(1)     CHECK(SEX IN ('M', 'F')),
    SALARY  INT         CHECK(SALARY >= 0),
    PRIMARY KEY(EID)
);
-- DEPT_ID 추가?

    -- start_date 이름 바꾸어야 할듯. 프로젝트 제의 들어온 날짜로
CREATE TABLE Project (
    PID     INT         NOT NULL,
    PNAME   VARCHAR(30) NOT NULL UNIQUE,
    STATUS  VARCHAR(20) CHECK(STATUS IN ('Not_Start', 'In_Progress', 'Suspend', 'Complete')) DEFAULT 'Not_Start',
    START_DATE  DATE,
    PRIMARY KEY(PID)
);

CREATE TABLE Works_On (
    EmployeeID  INT     NOT NULL,
    ProjectID   INT     NOT NULL,
    HOURS       INT     DEFAULT 0,
    PRIMARY KEY(EmployeeID, ProjectID),
    FOREIGN KEY(EmployeeID) REFERENCES Employee(EID),
    FOREIGN KEY(ProjectID) REFERENCES Project(PID)
);

-- Value 삽입
INSERT INTO Employee
VALUES
    (2023001, 'Ashley', 'F', 30000000),
    (2023002, 'Justin', 'M', 60000000),
    (2023003, 'Andrew', 'M', 30000000),
    (2023004, 'Ashley', 'F', 45000000),
    (2023005, 'Nancy',  'F', 40000000);

INSERT INTO Project
VALUES
    (100001, 'produceA', 'Not_Start',   '2023-01-01'),
    (100002, 'produceB', 'Complete',    '2023-03-12'),
    (100003, 'produceC', 'In_Progress', '2023-02-23'),
    (200002, 'inspectB', 'Complete',    '2023-03-30'),
    (300002, 'supplyB',  'In_Progress', '2023-04-15');

-- 아이디어: 각 물품에 대해 계획, 생산, 검수, 공급

INSERT INTO Works_On
VALUES
    (2023001, 100002, 10),
    (2023001, 200002, 5),
    (2023001, 300002, 2),
    (2023002, 100002, 4),
    (2023002, 100003, 7),
    (2023004, 100003, 9),
    (2023005, 300002, 4);

### 질의 그룹 #6: 4 Questions

#4 에서 TABLES에 대한 UPDATE가 있으므로 그거에 따라 VIEW의 값이 달라질 수 있음.
제출하기 전 실행은 반드시 문제 순서대로 하고 캡쳐할 것.

In [ ]:
-- Question 1
-- view 이름을 그럴싸하게 지어야 하는가?

-- 튜플 간 중복 있는 뷰
CREATE VIEW view1_1
AS  SELECT SNO, PNO
    FROM Supplier S, Part P, SPJ
    WHERE S.CITY != P.CITY
    AND SNO = Snumber
    AND PNO = Pnumber;

-- 튜플 간 중복 없는 뷰
CREATE VIEW view1_2
AS  SELECT DISTINCT SNO, PNO
    FROM Supplier S, Part P, SPJ
    WHERE S.CITY != P.CITY
    AND SNO = Snumber
    AND PNO = Pnumber;

In [ ]:
-- Question 2

CREATE VIEW view2_1
AS  SELECT *
    FROM Supplier
    WHERE CITY = 'London';

In [ ]:
-- Question 3

CREATE VIEW view3_1
AS  SELECT JNO, CITY
    FROM Project, SPJ
    WHERE Snumber = 'S1'
    AND Pnumber = 'P1';

CREATE VIEW view3_2
AS  SELECT JNO, CITY
    FROM Project, SPJ
    WHERE Snumber = 'S1'
    AND Pnumber = 'P1'
    AND JNO = Jnumber;

In [ ]:
-- Question 4
-- 일단 실행은 안했음

CREATE VIEW HEAVYWEIGHTS(PNO, WT, COL)
AS  SELECT PNO, WEIGHT, COLOR
    FROM Part
    WHERE WEIGHT > 14;

-- a)
SELECT *
FROM HEAVYWEIGHTS
WHERE COL = 'Green';

-- b)
UPDATE HEAVYWEIGHTS
SET COL = 'White'
WHERE WT = 18;

-- c)
DELETE
FROM HEAVYWEIGHTS
WHERE WT < 10;

-- d)
INSERT
INTO HEAVYWEIGHTS(PNO, WT, COL)
VALUES ('P99', 12, 'Purple');